*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}

body {
    background: #eee;
}

h1 {
    text-align: center;
    width: 100%;
    flex: 100%;
}

.continer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

input[type="radio"] {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    z-index: 8
}
.row{
    display: flex;
    justify-content: center;
}
.cell {
    width: 50px;
    height: 50px;
    margin: 3px;
    background: #e3e3e3;
    border: 1px solid #aaa;
    border-radius: 5px;
    position: relative;
}

.cell .o-or-x{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #aaaaaa;
}


input[type="radio"]:checked ~ .o-or-x.p-o svg.o{
    display: block;
}
input[type="radio"]:checked ~ .o-or-x.p-x  svg.x{
    display: block;
}

.plyers {
    height: 47px;
    width: 100%;
    margin-bottom: 40px;
}

span {
    padding: 6px;
}
span:first-of-type{
    float: left;
}
span:last-of-type{
    float: right;
}
svg {
    width: 25px;
    height: 25px;
}

path {
    stroke: #E91E63 !important;
    stroke-width: 12px;
    fill: #fff;
}
path.hFJ9V{
    stroke: #2196f3 !important;
}
span {
    background: #fff;
    border: #eee;
    border-radius: 14px;
    width: 130px;
    margin: 0px 10px;
    height: 40px;
}
span.active:first-of-type{
    border: 1px solid #e91e63;
    box-shadow: 0 0 2px 0px #e91e63,
                    0 0 2px 0px #e91e63,
                    0 0 2px 0px #e91e63,
                    0 0 2px 0px #e91e63,
                    0 0 2px 0px #e91e63,
                    0 0 2px 0px #e91e63,
                    0 0 2px 0px #e91e63,
                    0 0 2px 0px #e91e63;
}
span.active:last-of-type{
    border: 1px solid #2196F3;
    box-shadow: 0 0 2px 0px #2196f3,
                    0 0 2px 0px #2196f3,
                    0 0 2px 0px #2196f3,
                    0 0 2px 0px #2196f3,
                    0 0 2px 0px #2196f3,
                    0 0 2px 0px #2196f3,
                    0 0 2px 0px #2196f3,
                    0 0 2px 0px #2196f3;
}

span:first-of-type h4 {
    float: right;
    margin-right: 5px;
    color: #e91e63;
    line-height: 27px;
}
span:last-of-type h4 {
    float: left;
    margin-left: 5px;
    color: #2196f3;
    line-height: 27px;
}
span:first-of-type svg{
    float: left;
}
span:last-of-type svg{
    float: right;
}

.o-or-x svg.o {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px;
    width: 100%;
}
.o-or-x.p-x svg.x {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 10px;
}
.o-or-x svg.o path {
    fill: #aaa;
}
.o-or-x svg.x,
.o-or-x svg.o{
    display: none;
}

.pop-up{
    opacity: 0;
    display: none;
    position: absolute;
}
.pop-up.show{
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter:blur(0px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.pop-up.show ~ .continer{
    filter: blur(5px);
}

.content {
    background: #ffffff;
    padding: 26px 60px;
    border-radius: 12px;
    position: absolute;
    top: 10px;
}

p {
    color: #555;
    font-size: 17px;
    font-weight: 500;
}

button {
    background: #E91E63;
    padding: 11px 54px;
    margin: 10px;
    border: none;
    color: #eee;
    border-radius: 6px;
}

/*  */